/*NAVIGATION BAR*/

.top-header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.top-header-navbar a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}

.top-header-navbar a:hover {
  color: rgb(203, 228, 255);
}

.header a {
  padding: 20px;
}

.header i {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}

.header i:hover {
  color: rgb(203, 228, 255);
  cursor: pointer;
}

h3 {
  font-size: 1.5rem;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgba(11, 24, 35, 0.58);
  padding: 0.8rem;
  font-weight: 600;
}

.card {
  width: 300px;
  height: 260px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  cursor: pointer;
}

.card-details {
  color: black;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: rgb(134, 134, 134);
}

.heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.text-title {
  font-size: 1.5em;
  font-weight: bold;
}

.card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.panel-icon {
  font-size: 100px;
  color: #007bff;
  text-align: center;
}

.text-title {
  text-align: center;
}

.card-button a {
  text-decoration: none;
  color: #fff;
}

/*ADD PRODUCTS SECTION*/

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.products {
  width: 50%;
  margin: 0px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(203, 192, 192);
}

.inputbox {
  display: flex;
  flex-direction: column;
}

.inputbox span {
  font-size: 1rem;
  font-weight: medium;
  margin-bottom: 5px;
  color: #555;
}

.inputbox input,
.inputbox textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}

.inputbox input[type="file"] {
  padding: 3px;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #063364;
}
